@font-face {
    font-family: 'Geist Mono';
    src: url('./assets/fonts/GeistMono-Medium.woff2') format('woff2'),
        url('./assets/fonts/GeistMono-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geist Mono';
    src: url('./assets/fonts/GeistMono-Bold.woff2') format('woff2'),
        url('./assets/fonts/GeistMono-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geist Mono';
    src: url('./assets/fonts/GeistMono-Regular.woff2') format('woff2'),
        url('./assets/fonts/GeistMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Knowledge2017';
    src: url('./assets/fonts/Knowledge2017-Medium.woff2') format('woff2'),
        url('./assets/fonts/Knowledge2017-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Knowledge2017';
    src: url('./assets/fonts/Knowledge2017-Light.woff2') format('woff2'),
        url('./assets/fonts/Knowledge2017-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Knowledge2017';
    src: url('./assets/fonts/Knowledge2017-Medium.woff2') format('woff2'),
        url('./assets/fonts/Knowledge2017-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Knowledge2017';
    src: url('./assets/fonts/Knowledge2017-UltraLight.woff2') format('woff2'),
        url('./assets/fonts/Knowledge2017-UltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Knowledge2017';
    src: url('./assets/fonts/Knowledge2017-Bold.woff2') format('woff2'),
        url('./assets/fonts/Knowledge2017-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Knowledge2017';
    src: url('./assets/fonts/Knowledge2017-Regular.woff2') format('woff2'),
        url('./assets/fonts/Knowledge2017-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Knowledge2017';
    src: url('./assets/fonts/Knowledge2017-Black.woff2') format('woff2'),
        url('./assets/fonts/Knowledge2017-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}