@use "./variables.scss" as *;

@font-face {
    font-family: 'Geist Mono';
    src: url('./assets/fonts/GeistMono-Medium.woff2') format('woff2'),
        url('./assets/fonts/GeistMono-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geist Mono';
    src: url('./assets/fonts/GeistMono-Bold.woff2') format('woff2'),
        url('./assets/fonts/GeistMono-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geist Mono';
    src: url('./assets/fonts/GeistMono-Regular.woff2') format('woff2'),
        url('./assets/fonts/GeistMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Knowledge2017';
    src: url('./assets/fonts/Knowledge2017-Medium.woff2') format('woff2'),
        url('./assets/fonts/Knowledge2017-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Knowledge2017';
    src: url('./assets/fonts/Knowledge2017-Light.woff2') format('woff2'),
        url('./assets/fonts/Knowledge2017-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Knowledge2017';
    src: url('./assets/fonts/Knowledge2017-Medium.woff2') format('woff2'),
        url('./assets/fonts/Knowledge2017-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Knowledge2017';
    src: url('./assets/fonts/Knowledge2017-UltraLight.woff2') format('woff2'),
        url('./assets/fonts/Knowledge2017-UltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Knowledge2017';
    src: url('./assets/fonts/Knowledge2017-Bold.woff2') format('woff2'),
        url('./assets/fonts/Knowledge2017-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Knowledge2017';
    src: url('./assets/fonts/Knowledge2017-Regular.woff2') format('woff2'),
        url('./assets/fonts/Knowledge2017-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Knowledge2017';
    src: url('./assets/fonts/Knowledge2017-Black.woff2') format('woff2'),
        url('./assets/fonts/Knowledge2017-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}


body {
  padding: 0;
  margin: 0;
  font-family: "Geist Mono", -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1E1E1E;
  color: white;
}

p {
  padding: 0;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar {
  width: 10px;
  -webkit-appearance: always;
}

::-webkit-scrollbar-track {
  background: $darkest;
//   padding: 2.25em 1.6875em;
}

::-webkit-scrollbar-thumb {
  background: $darker;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: $dark;
}
