$darkest: #222222;
$darker: #333333;
$dark: #444444;
$font: #bbbbbb;
$highlight: #aaaaaa;

$primary: #88715a;
$secondary: #4a3928;

$active: #20639b;
$changed: #3caea3;
$warning: #f6d55c;
$error: #ed553b;

$accent: #dc4300;
$accent-dark: #241E1C;
$color-charcoal: #1E1E1E;
$color-charcoal-dark: #171717;
$color-charcoal-light: #292929;
$color-charcoal-lighter: #353535;
$color-charcoal-lightest: #626262;
$color-silver: #a3a3a3;
$color-gray: #808080;
$color-black: #000000;
$color-white: #ffffff;

$font-size-xxs: clamp(0.79rem, -0.2vw + 0.83rem, 0.67rem);
$font-size-xs: clamp(0.89rem, -0.08vw + 0.91rem, 0.84rem);
$font-size-sm: clamp(1rem, 0.08vw + 0.98rem, 1.05rem);
$font-size-base: clamp(1.13rem, 0.31vw + 1.06rem, 1.31rem);
$font-size-lg: clamp(1.27rem, 0.63vw + 1.14rem, 1.64rem);