@use "./styles/theme.scss" as *;
@use "./styles/variables.scss" as *;
@use "./styles/fonts.scss" as *;

:root {
  --svooltip-arrow-size: 0px;
}

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
  font-family: "Geist Mono";
  font-size: var(--font-size-base);
}

body {
  padding: 0;
  margin: 0;
  font-family:
    "Geist Mono",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-background);
  color: var(--color-text);
}

p {
  padding: 0;
  margin: 0;
  font-family: "Geist Mono";
  font-size: var(--font-size-base);
  text-wrap: pretty;
}

p::selection,
input::selection {
  background-color: var(--color-accent-primary);
  color: var(--color-text);
}

::-webkit-scrollbar {
  width: 0px;
  -webkit-appearance: always;
}
