// SCSS Variables

// accent
$accent-primary: #dc4300;
$accent-secondary: #241e1c;

// backgrounds
$dark-theme: (
  background: hsl(0, 0%, 8%),
  primary: hsl(0, 0%, 14%),
  secondary: #353535,
  tertiary: #626262,

  invert: #000000,

  accent-primary: #dc4300,
  accent-secondary: #241e1c,
  text: #ffffff,

  black: #000000,
  white: #ffffff,
);

$light-theme: (
  background: #e7e8eb,
  primary: #ffffff,
  secondary: #d8d9db,
  tertiary: #b5b5b5,

  invert: #ffffff,

  accent-primary: #dc4300,
  accent-secondary: #241e1c,

  text: #1e1e1e,

  black: #000000,
  white: #ffffff,
);

// statics
$color-black: #000000;
$color-white: #ffffff;

// Generate CSS custom properties
@mixin generate-theme-vars($theme-map) {
  @each $key, $value in $theme-map {
    --color-#{$key}: #{$value};
  }
}

/* @link https://utopia.fyi/type/calculator?c=320,13,1.125,960,15,1.125,2,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

/* @link https://utopia.fyi/space/calculator?c=320,8,1.125,1200,12,1.125,2,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --font-size-xs: clamp(0.642rem, 0.5926rem + 0.2469vw, 0.7407rem);
  --font-size-sm: clamp(0.7222rem, 0.6667rem + 0.2778vw, 0.8333rem);
  --font-size-base: clamp(0.8125rem, 0.75rem + 0.3125vw, 0.9375rem);
  --font-size-lg: clamp(0.9141rem, 0.8438rem + 0.3516vw, 1.0547rem);
  --font-size-xl: clamp(1.0283rem, 0.9492rem + 0.3955vw, 1.1865rem);

  --space-3xs: clamp(0.125rem, 0.0938rem + 0.1563vw, 0.1875rem);
  --space-2xs: clamp(0.25rem, 0.1875rem + 0.3125vw, 0.375rem);
  --space-xs: clamp(0.375rem, 0.2813rem + 0.4688vw, 0.5625rem);
  --space-s: clamp(0.5rem, 0.375rem + 0.625vw, 0.75rem);
  --space-m: clamp(0.75rem, 0.5625rem + 0.9375vw, 1.125rem);
  --space-l: clamp(1rem, 0.75rem + 1.25vw, 1.5rem);
  --space-xl: clamp(1.5rem, 1.125rem + 1.875vw, 2.25rem);
  --space-2xl: clamp(2rem, 1.5rem + 2.5vw, 3rem);
  --space-3xl: clamp(3rem, 2.25rem + 3.75vw, 4.5rem);
}

:root {
  @include generate-theme-vars($dark-theme);
}

[data-theme="dark"] {
  @include generate-theme-vars($dark-theme);
}

[data-theme="light"] {
  @include generate-theme-vars($light-theme);
}
